

.layout-horizontal {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}



.layout-horizontal,
.layout-vertical {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}














.layout-horizontal > div.align-box-center,
.layout-vertical > div.align-box-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}


.display-container {
background-color: rgb(250, 250, 250);
width: 1000px;
display: grid;

}




.dead-center {
display: flex;
align-items: center;
justify-content: center;
}





