

.container {
  display: flex;
  font-weight: bold;
}




.container > div {
  display: flex; 
  padding: 20px;
}


.search-flex {
  display: flex;
  flex: 50%;

}

.input-flex {
  width:100% ;
}
.buttonLogin {
  flex:30%;
  justify-content: end;
  gap: 20px;
  
}
.buttonLogin > div {
  display: flex; 
  gap: 10px; 
  align-items: center;
}
.input-flex > div {
 display: flex;
 gap: 5px; 
}

.menu {
  border-bottom: 1px solid grey;
  display: flex;
  gap: 7px ;
  
}
.menu > div {
  padding: 20px ;
}

.flex-other {
  flex-direction: column;
  font-weight: normal;
  gap:12px;
  width: 300px;

}
.flex-arrow {
  display: flex ;
  width: 500px 
}
.flex-arrow  > div  {
  flex:50% 
   
} 







